@use '@styles/globalStyles.module.scss' as global;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 80svh;
	padding: 4svh;
	font-family: Overpass, serif;
	background-color: global.$slightlyLighter;
}

.offsetCard {
	background-color: global.$slightlyDarker;
	padding: 2svh;
	width: 100%;
	max-width: 800px;
	border-radius: 40px;
	transform: translateY(-1rem)
}

.heading {
	display: block;
	padding: 1rem;
	background-color: global.$White;
	color: global.$Black;
	border-radius: 40px;
	max-width: 400px;
	top: 0;
	margin: 0;
	z-index: 2;
}

.description {
	font-size: 1rem;
	font-weight: 200;
	width: 100%;
}

@media (min-aspect-ratio: 1) {
	.description {
		font-size: 1.6rem;
		font-weight: 200;
	}
}
