@use '../../../styles/globalStyles.module.scss' as global;

.container {
	@include global.sectionContainer;
	background-color: global.$slightlyDarker;
}

.description {
	width: 80%;
	max-width: 1000px;
	font-family: Overpass, serif;
	font-weight: 200;
	font-size: 1.2em;
}
