@use '@styles/globalStyles.module.scss' as global;

.cardContainer {
	position: relative;
	--arvalue: 40svh;
	width: var(--arvalue);
	height: calc((var(--arvalue) * 3/4));
	background-color: global.$Black;
	border-radius: 25px;
	overflow: hidden;
	list-style: none;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	transition: all var(--medium-transition);
	transition-timing-function: ease-in-out;
	justify-self: center;
	background-size: cover;
	background-position: center;
}

.description {
	display: block;
}

.link {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-color: transparent;
	color: global.$White;
	padding: 1em;
	font-family: Overpass, sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	z-index: 2;
	transition: all var(--medium-transition);
	transition-timing-function: cubic-bezier(0, 0, 0.165, 0.99);
}

.link::before {
	content: '';
	display: block;
	position: absolute;
	background: linear-gradient(transparent, rgba(10,10,10,0.8));
	bottom: 0;
	height: 50%;
	width: 100%;
	z-index: 2;
	opacity: 0;
	transition: all var(--medium-transition);
}

.moveable {
	display: flex;
	gap: 0.5em;
	transform: translateY(0);
	border-bottom: 2px solid global.$White;
	transition: all var(--medium-transition);
	transition-timing-function: cubic-bezier(0, 0, 0.165, 0.99);
	z-index: 3;
	text-shadow: 0 0 4px black;
}

.background {
	position: absolute;
	height: 100%;
	width: auto;
	filter: brightness(0.2);
	transition: all var(--medium-transition);
	transition-timing-function: cubic-bezier(0, 0, 0.165, 0.99);
}

.link:hover,
.link:focus {
	.background {
		filter: brightness(1);
	}

	.moveable {
		transform: translateY(400%);
	}
}

.link:hover::before,
.link:focus::before {
	opacity: 1;
}

.cardContainer:hover {
	box-shadow: 0px 0px 20px 5px global.$White;
	border-color: global.$White;
}
