.drumContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid {
	position: relative;
	display: grid;
	width: 90%;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5vw;
	row-gap: 3vw;
}

.button {
	box-shadow: none;
	box-sizing: border-box;
	border: 2px solid;
	border-radius: 5px;
	transition: background-color var(--fast-transition), color var(--fast-transition), filter var(--fast-transition), border-color var(--fast-transition);
}

.button svg {
	display: block;
	margin: auto;
}

.mute {
	background-color: var(--global-background);
	border-color: var(--mute-orange);
	color: var(--mute-orange);
	filter: saturate(50%);
}

.mute:hover {
	background-color: var(--mute-orange);
	border-color: var(--mute-orange);
	color: var(--global-background);
	filter: saturate(100%);
}

.muteon {
	background-color: var(--mute-orange);
	border-color: var(--mute-orange);
	color: var(--global-background);
}

.stop {
	background-color: var(--global-background);
	border-color: var(--stop-red);
	color: var(--stop-red);
	filter: saturate(50%);
}

.stop:hover {
	background-color: var(--stop-red);
	border-color: var(--stop-red);
	color: var(--global-color);
	filter: saturate(100%);
}

.loop {
	background-color: var(--global-background);
	color: var(--loop-blue);
	border-color: var(--loop-blue);
	filter: saturate(25%);
}

.loop:hover {
	background-color: var(--loop-blue);
	border-color: var(--loop-blue);
	color: var(--global-background);
	filter: saturate(100%);
}

.loopon {
	background-color: var(--loop-blue);
	border-color: var(--loop-blue);
	color: var(--global-background);
	border-color: var(--loop-blue);
}

@media (min-aspect-ratio: 1) {
	.grid {
		max-width: 50vw;
		row-gap: 1vw;
	}
}
