.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pad {
	position: relative;
	width: 100%;
	display: block;
	background-color: white;
	color: black;
}

.controls {
	position: absolute;
	display: flex;
	flex-direction: row;
}
