.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pad {
	position: relative;
	width: 100%;
	display: block;
	background-color: white;
	color: black;
}

.controls {
	position: absolute;
	display: flex;
	flex-direction: row;
}

.mute {
	background-color: yellow;
}

.stop {
	background-color: red;
	filter: saturate(25%);
	transition: filter 167ms;
}

.stop:hover {
	filter: saturate(100%);
}

.loop {
	background-color: blue;
}

.off {
	filter: saturate(25%);
}

.on {
	filter: saturate(100%);
}
