.spindiv {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4em;
	height: 4em;
	animation-name: spinning;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	margin: 0;
	padding: 0;
	transform-origin: center;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

.spindiv svg {
	display: block;
	margin: 0;
	padding: 0;
}
