
.history {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vh;
	width: 100%;
}

@media (min-aspect-ratio: 3/4) {
	.history {
	width: 25%;
}
}

.historyitem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	border-bottom: 2px solid #E8EEF2;
}

.historyitem p {
	display: block;
	padding: 0.5rem;
	width: 80%;
	text-align: right;
	white-space: nowrap;
	overflow-x: auto;
	scrollbar-width: thin;
}

.historyitem button {
	margin-left: 1rem;
}
