@use '../DrumMachineColors.module.scss' as *;

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.container input {
	cursor: pointer;
	appearance: none;
	width: 100%;
	max-width: 200px;
	margin: 1vh 0 1vh 0;
	border-radius: 5px;
	border: 2px solid rgba(20, 20, 20, 1);
	background-color: rgba(20, 20, 20, 1);
	transition: border var(--fast-transition);
}

.container input:hover {
	border: 2px solid $pad-overexpose
}

.container input:focus {
	border: 2px solid $pad-overexpose
}

.container input:active {
	border: 2px solid $pad-overexpose
}

.container input::-moz-range-thumb {
	appearance: none;
	background: $pad-glow;
	border: none;
	transition: box-shadow var(--fast-transition);
}

.container input:hover::-moz-range-thumb {
	background: $pad-overexpose;
	box-shadow: 0px 0px 20px 5px $pad-glow;
}

.container input:focus::-moz-range-thumb {
	background: $pad-overexpose;
	box-shadow: 0px 0px 20px 5px $pad-glow;
}

.container input:active::-moz-range-thumb {
	background: $pad-overexpose;
	box-shadow: 0px 0px 20px 5px $pad-glow;
}

.container input::-webkit-range-thumb {
	appearance: none;
	background: $pad-glow;
	border: none;
	box-shadow: 0px 0px 20px 5px $pad-glow;
}

.container input:hover::-webkit-range-thumb {
	background: $pad-overexpose;
	box-shadow: 0px 0px 20px 5px $pad-glow;
}

.container input:focus::-webkit-range-thumb {
	background: $pad-overexpose;
	box-shadow: 0px 0px 20px 5px $pad-glow;
}

.container input:active::-webkit-range-thumb {
	background: $pad-overexpose;
	box-shadow: 0px 0px 20px 5px $pad-glow;
}

.pad {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-family: Silkscreen, sans-serif;
	font-size: 1.6rem;
	transition: background-image var(--fast-transition), color var(--fast-transition), border var(--fast-transition), box-shadow var(--fast-transition);
}

@media (min-aspect-ratio: 1) {
	.pad {
		width: 15vh;
		height: 15vh;
		min-width: 200px;
		max-height: 200px;
	}
}

.padInactive {
	border: 10px solid rgba(20, 20, 20, 1);
	background-image: radial-gradient(circle at center, $pad-glow -50%, rgba(10, 10, 10, 1) 50%);
	color: $pad-overexpose;
}

.padActive {
	border: 10px solid $pad-overexpose;
	box-shadow: 0px 0px 40px 10px $pad-glow;
	background-image: linear-gradient($pad-overexpose, $pad-overexpose);
	color: var(--global-background);
}

.buttons {
	display: none;
}

@media (min-aspect-ratio: 9/15) {
	.buttons {
		width: 100%;
		max-width: 200px;
		margin: 1vh 0 1vh 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		gap: 5px;
	}

	.buttons button {
		width: 48px;
		height: 36px;
		cursor: pointer;
	}
}
