@use '@styles/globalStyles.module.scss' as global;

.scroller {
	cursor: pointer;
	display: none;
	position: fixed;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	left: 2vh;
	bottom: 2vh;
	padding: 10px;
	color: global.$White;
	background-color: global.$Black;
	border: 2px solid global.$White;
	border-radius: 5px;
	transition: color var(--fast-transition), background-color var(--fast-transition);
	z-index: 1;
}

@media (min-aspect-ratio: 1) {
	.scroller {
		left: 5vh;
		bottom: 5vh;
	}
}

.scroller:hover {
	color: global.$Black;
	background-color: global.$White;
}

.visible {
	display: flex;
}

.scroller p {
	display: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	font-family: Overpass, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

.scroller:hover p {
	display: block;
}

.scroller svg {
	display: block;
	font-size: 2em;
}
