.panel {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2vh 0 2vh 0;
}

.panel label {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.panel button {
	width: 60px;
}

.sounds {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.display {
	height: 16vh;
	width: 90%;
	display: flex;
	flex-direction: column;
	background-color: black;
	font-family: Silkscreen, sans-serif;
}

.display p {
	text-align: center;
	text-shadow: 0px 0px 20px white;
	filter: drop-shadow(0px 0px 5px white);
}

.controls {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


@media (min-aspect-ratio: 9/15) {
	.controls {
		width: 50%;
	}
}
