.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

@media (min-aspect-ratio: 3/4) {
	.container {
		overflow: visible;
	}
}

.calculator {
	width: 90%
}

@media (min-aspect-ratio: 3/4) {
	.calculator {
		width: 50%;
	}
}

.screen {
	text-align: right;
}

.grid {
	display: grid;
	grid-template-areas:
		"clear clear divide multiply"
		"seven eight nine subtract"
		"four five six add"
		"one two three equals"
		"zero zero decimal equals"
	;
}

.history {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-top: 2vh;
}

.historyitem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	border-bottom: 2px solid #E8EEF2;
}

.historyitem button {
	margin-left: 1rem;
}
