@use '@/styles/globalStyles.module.scss' as global;

.responseMsg {
	text-align: center;
	padding: 0;
	animation: widenintoview;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	margin: 0;
	margin-left: 1em;
}

@keyframes widenintoview {
	0% {
		translate: 50% 0;
		opacity: 0;
	}

	100% {
		translate: 0 0;
		opacity: 1;
	}
}
