@use '../../../../../styles/globalStyles.module.scss' as global;

$navWidth: 20rem;

.header {
	position: fixed;
	display: flex;
	justify-content: baseline;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: 2;
	translate: $navWidth;
	transition: translate var(--slow-transition);
}

.title {
	margin: 0.5em;
	font-family: Poppins, sans-serif;
	font-weight: bold;
	font-size: 2em;
}

.toggler {
	position: absolute;
	translate: -150% 0;
	margin: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid;
	border-color: global.$White;
	color: global.$White;
	background-color: global.$Black;
	border-radius: 5px;
	font-size: 0.8em;
	cursor: pointer;
	transition: background-color var(--fast-transition), color var(--fast-transition);
	transition-timing-function: ease-in-out;
	z-index: 1;
}

.toggler * {
	margin: 10px;
}

.returner {
	display: none;
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	left: -100vw;
	z-index: 0;
}

.svg {
	display: block;
	rotate: 0;
	transition: rotate var(--medium-transition);
	transition-timing-function: ease-in-out;
	font-size: 2em;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 100vh;
	background-color: global.$White;
	color: global.$Black;
	font-weight: 600;
	width: $navWidth;
	padding: 1em;
}

.topList {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}

.svg.toggled {
	rotate: -45deg;
}

.header.toggled {
	translate: 0;
}

.returner.toggled {
	display: block;
	animation-name: returnerfadein;
	animation-duration: var(--medium-transition);
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

.toggler.toggled,
.toggler.toggled:hover,
.toggler:hover {
	background-color: global.$White;
	color: global.$Black;
	border-color: global.$White;
}

@keyframes returnerfadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.homer {
	margin: 2em;
	padding: 1em;
	background-color: global.$slightlyDarker;
	color: global.$Black;
	border-radius: 5px;
	transition: color var(--fast-transition), background-color var(--fast-transition);
	transition-timing-function: ease-in-out;
}

.homer:hover {
	background-color: global.$Black;
	color: global.$White;
}
