@use '../../../../styles/globalStyles.module.scss' as global;

.container {
	display: block;
	margin: 1rem;
	width: 70%;
	max-width: 1000px;
	z-index: 50;
	padding-bottom: 10vh;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2em;
	padding: 1em;
}


.techList {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 50%;
	padding: 0;
	z-index: 2;
	font-size: 1.2em;
}

.description {
	font-family: Overpass, serif;
	font-size: 1.2em;
	font-weight: 200;
	border-top: 5px solid global.$White;
	padding-top: 1em;
}

.linkIntro {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2em auto 2em auto;
	font-family: Overpass, serif;
	font-weight: 800;
	gap: 1em;
}

.link {
	display: block;
	padding: 1em 2em 1em 2em;
	border-radius: 50px;
}

.liveLink {
	background-color: global.$Green;
	color: global.$Black;
}

.github {
	background-color: #24292F;
	color: global.$White;
}

.codepen {
	background-color: #FFDD40;
	color: global.$Black;
}
