@use '../../../../styles/globalStyles.module.scss' as global;

.container {
	display: block;
	margin: 1rem;
	width: 70%;
	max-width: 1000px;
	padding-bottom: 10vh;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2em;
	padding: 1em;
}


.techList {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 50%;
	padding: 0;
	z-index: 2;
	font-size: 1.2em;
}

.description {
	display: flex;
	flex-direction: column;
	padding-top: 1em;

	h2,
	h3,
	h4 {
		font-family: Overpass, sans-serif;
		font-weight: bold;
		margin-top: 1em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	p {
		font-family: Overpass, sans-serif;
		font-weight: 200;
		font-size: 1.1em;
	}

	a {
		font-weight: bolder;
		text-decoration: underline;
	}

	ul,
	ol {
		padding: 1em;
		margin: 0;
	}

	code {
		font-family: JetBrain Mono, monospace;
		background-color: global.$slightlyDarker;
	}

	hr {
		width: 50%;
	}

	img,
	svg {
		display: block;
		margin: 1em auto 1em auto;
		max-width: 100%;
	}

	blockquote {
		padding: 1em;
		background-color: global.$slightlyDarker;
	}
}

.linkIntro {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2em auto 2em auto;
	font-family: Overpass, serif;
	font-weight: 800;
	gap: 1em;
}

.link {
	display: block;
	padding: 1em 2em 1em 2em;
	border-radius: 50px;
}

.liveLink {
	background-color: global.$Green;
	color: global.$Black;
}

.github {
	background-color: #24292F;
	color: global.$White;
}

.codepen {
	background-color: #FFDD40;
	color: global.$Black;
}
