@use '../../../styles/globalStyles.module.scss' as global;

.container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	transition: background-color var(--fast-transition), width var(--medium-transition), height var(--medium-transition), border-radius var(--fast-transition), max-width var(--medium-transition);
}

.windowed {
	max-width: 800px;
	width: 80%;
	height: auto;
	font-size: 1rem;
}

.fullscreen {
	max-width: none;
	width: 100%;
	height: 100vh;
	font-size: 1rem;
	border-radius: 0;
}

.fullscreener {
	cursor: pointer;
	padding: 1em;
	border-radius: 50%;
	background-color: var(--transparent);
	border: 2px solid global.$White;
	color: global.$White;
	transition: background-color var(--fast-transition), color var(--fast-transition);
}

.fullscreener:hover {
	background-color: global.$Black;
	color: global.$White;
}

.fullscreener svg {
	display: block;
	font-size: 2em;
}

.inactive {
	background-color: #263669;
}

.workin {
	background-color: #4c7a44;
}

.restin {
	background-color: #6b2424;
}

.timeControls {
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-aspect-ratio: 1) {
	.timeControls {
		flex-direction: row;
	}
}

.controllerCategory {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

.controllerCategory p {
	margin: 0.5em;
	font-weight: 800;
	font-size: 1.2em;
}

.counter {
	display: inherit;
	flex-direction: row-reverse;
	align-items: center;
}

.menter {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 50px;
	margin: 0.5em;
	padding: 0.5em;
	font-size: 1em;
	background-color: var(--transparent);
	color: inherit;
	border: 2px solid global.$White;
	border-radius: 50%;
	transition: color var(--fast-transition), background-color var(--fast-transition);
}

.menter:hover {
	background-color: global.$White;
	color: global.$Black
}

.menter:disabled {
	cursor: auto;
	color: global.$Black;
	opacity: 0.2;
	border-color: global.$Black;
}

.menter:disabled:hover {
	background-color: var(--transparent);
}

.menter svg {
	display: block;
	margin-right: 0.4rem;
}
