@use '@styles/globalStyles.module.scss' as global;

.footer {
	@include global.sectionContainer;
	min-height: 100vh;
	font-family: Overpass, sans-serif;
	font-weight: bold;
	background-color: global.$slightlyDarker;
}

.links {
	font-size: 2rem;
	display: flex;
	gap: 1rem;
	margin: 1em;
}

.divider {
	width: 10%;
}

.textbanner {
	display: flex;
	align-items: center;
	max-width: 1000px;
	gap: 2em;
}
