@use '../../../styles/globalStyles.module.scss';

.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@media (min-aspect-ratio: 1) {
	.container {
		flex-direction: row;
	}
}

.pane {
	margin: 2%;
	border-radius: 10px;
	transition: width var(--medium-transition), opacity var(--medium-transition), height var(--medium-transition);
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #142939;
	overflow-x: hidden;
}

.header h2 {
	margin: 1rem;
}

.header button {
	margin: 1rem;
}

.textarea {
	width: calc(100% - 2rem);
	height: 75%;
	padding: 1rem;
	margin: 1rem;
	overflow-y: auto;
	resize: none;
	border-bottom-left-radius: 10px;
	scrollbar-width: thin;
	background-color: #b4bbc5;
	color: globalStyles.$gBackground;
}

.editor {
	background-color: #D7DFEA;
}

.editor .header {
	justify-content: flex-end;
}

.preview {
	background-color: #F7C9C9;
}

.preview .header {
	justify-content: flex-start;
}

.output {
	height: 75%;
	width: calc(100% - 2rem);
	padding: 1rem;
	margin: 1rem;
	background-color: #eab8b8;
	overflow-y: auto;
	border-bottom-left-radius: 10px;
	scrollbar-width: thin;
	overflow-wrap: break-word;
}

.output * {
	margin: 1rem;
	color: globalStyles.$gBackground;
}

.output h1 {
	font-size: 2.2rem;
}

.output h2 {
	font-size: 2rem;
}

.output h3 {
	font-size: 1.8rem;
}

.output h4 {
	font-size: 1.6rem;
}

.output h5 {
	font-size: 1.4rem;
}

.output h6 {
	font-size: 1.2rem;
}

.output a {
	margin: 0;
	font-weight: bold;
}

.output img {
	height: auto;
	width: 100%;
}

.both {
	width: 90%;
	height: 40vh;
	opacity: 1;
}


.toggled {
	width: 90%;
	height: 40vh;
	opacity: 1;
}

.hidden {
	width: 0%;
	height: 40vh;
	opacity: 0;
}

.hidden .output {
	opacity: 0;
}


@media (min-aspect-ratio: 1) {
	.both {
		width: 50%;
		height: 70vh;
	}

	.toggled {
		height: 70vh;
	}

	.hidden {
		height: 70vh;
	}
}

.paneToggler {
	display: none;
}

.paneToggler svg {
	display: block;
	margin: auto;
	font-size: 2rem;
}

@media (min-aspect-ratio: 1) {
	.paneToggler {
		display: block;
	}
}

.why {
	display: block;
}

@media (min-aspect-ratio: 1) {
	.why {
		display: none;
	}
}
