@use '../../../styles/globalStyles.module.scss' as global;

.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@media (min-aspect-ratio: 1) {
	.container {
		flex-direction: row;
	}
}

.pane {
	margin: 2%;
	border-radius: 10px;
	transition: width var(--medium-transition), opacity var(--medium-transition), height var(--medium-transition);
	transition-timing-function: ease-in-out;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #142939;
	overflow-x: hidden;
}

.header h2 {
	margin: 1rem;
}

.header button {
	margin: 1rem;
}

.textarea {
	width: calc(100% - 2rem);
	height: 75%;
	padding: 1rem;
	margin: 1rem;
	overflow-y: auto;
	resize: none;
	border-bottom-left-radius: 10px;
	scrollbar-width: thin;
	background-color: #b4bbc5;
	color: global.$Black;
}

.editor {
	background-color: #D7DFEA;
}

.editor .header {
	justify-content: flex-end;
}

.preview {
	background-color: #F7C9C9;
}

.preview .header {
	justify-content: flex-end;
}

@media (min-aspect-ratio: 1) {
	.preview .header {
		justify-content: flex-start;
	}
}

.output {
	height: 75%;
	width: calc(100% - 2rem);
	padding: 1rem;
	margin: 1rem;
	background-color: #eab8b8;
	overflow-y: auto;
	border-bottom-left-radius: 10px;
	scrollbar-width: thin;
	overflow-wrap: break-word;
	font-size: 1rem;
}

.output {
	* {
		margin: 1rem;
		color: global.$Black;
	}

	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.8em;
	}

	h4 {
		font-size: 1.6em;
	}

	h5 {
		font-size: 1.4em;
	}

	h6 {
		font-size: 1.2em;
	}

	a {
		margin: 0;
		text-decoration: underline;
	}

	p {
		margin: 0;
		margin-left: 1rem;
	}

	code {
		margin: 0;
		padding: 0.5em;
		font-size: 0.8em;
		background-color: #c89696;
	}

	pre {
		code {
			display: block;
		}
	}

	img,
	svg {
		height: auto;
		margin: 0 auto 0 auto;
		width: 50%;
	}

	li {
		margin: 0;
	}

	blockquote {
		padding: 0.5em;
		font-size: 1.4em;
		background-color: #c89696;
	}
}

.both {
	width: 90%;
	height: 40vh;
	opacity: 1;
}


.toggled {
	width: 90%;
	height: 40vh;
	opacity: 1;
}

.hidden {
	width: 0%;
	height: 40vh;
	opacity: 0;
}

.hidden .output {
	opacity: 0;
}


@media (min-aspect-ratio: 1) {
	.both {
		width: 50%;
		height: 70vh;
	}

	.toggled {
		height: 70vh;
	}

	.hidden {
		height: 70vh;
	}
}

.paneToggler {
	display: none;
}

.paneToggler svg {
	display: block;
	margin: auto;
	font-size: 2rem;
}

@media (min-aspect-ratio: 1) {
	.paneToggler {
		display: block;
	}
}

.why {
	display: block;
}

@media (min-aspect-ratio: 1) {
	.why {
		display: none;
	}
}

.button {
	border: 2px solid global.$White;
	color: global.$White;
	background-color: global.$Black;
	border-radius: 12px;
	padding: 0.5em;
	transition: color var(--fast-transition), background-color var(--fast-transition);
}

.button:hover {
	background-color: global.$White;
	color: global.$Black;
}

.dlLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: inherit;

	svg {
		margin: 0.5em;
	}
}
