@use '../../../styles/globalStyles.module.scss' as global;

$borderRadius: 20px;

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2%;
}

@media (min-aspect-ratio: 1) {
	.container {
		flex-direction: row;
	}
}

.editDialogue {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2%;
}

@media (min-aspect-ratio: 1) {
	.editDialogue {
		height: 100%;
		flex-direction: row;
	}
}

.pane {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-radius: $borderRadius;
	transition: width var(--medium-transition), opacity var(--medium-transition), height var(--medium-transition);
	transition-timing-function: ease-in-out;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1em;
	width: 100%;
	min-height: 8svh;
	padding: 1vmin;
	border-top-left-radius: $borderRadius;
	border-top-right-radius: $borderRadius;
	background-color: #142939;
	overflow-y: hidden;
	overflow-x: auto;
	scrollbar-width: thin;
}

.heading {
	margin: 0;
	font-size: 1.6em;
	font-weight: bold;
}

.editor .header {
	justify-content: flex-end;
	flex-direction: row;
}

.preview .header {
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.paneChild {
	display: block;
	width: 100%;
	height: 100%;
	padding: 1em;
	overflow-y: auto;
	resize: none;
	border-bottom-left-radius: $borderRadius;
	scrollbar-width: thin;
	color: global.$Black;
}

.contentContainer {
	position: relative;
	height: 100%;
	width: 100%;
	border-bottom-left-radius: $borderRadius;
	border-bottom-right-radius: $borderRadius;
	padding: 2svh;
	overflow-y: hidden;
}

.editor .contentContainer {
	background-color: #D7DFEA;
}

.preview .contentContainer {
	background-color: #F7C9C9;
}

.textarea {
	background-color: #b4bbc5;
	font-size: 1.2em;
}

.output {
	background-color: #eab8b8;
	overflow-wrap: break-word;
	font-size: 1rem;
}

@media (min-aspect-ratio: 1) {
	.preview .header {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.output {
	* {
		margin: 1rem;
		color: global.$Black;
	}

	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.8em;
	}

	h4 {
		font-size: 1.6em;
	}

	h5 {
		font-size: 1.4em;
	}

	h6 {
		font-size: 1.2em;
	}

	a {
		margin: 0;
		text-decoration: underline;
	}

	p {
		margin: 0;
		margin-bottom: 1em;
		margin-left: 1rem;
	}

	strong {
		margin: 0;
	}

	code {
		margin: 0;
		padding: 0.5em;
		font-size: 0.8em;
		background-color: #c89696;
	}

	pre {
		code {
			display: block;
		}
	}

	img,
	svg {
		height: auto;
		margin: 0 auto 0 auto;
		width: 50%;
		max-width: fit-content;
	}

	li {
		margin: 0;
		margin-bottom: 0.5em;
	}

	li::marker {
		font-weight: 600;
	}

	blockquote {
		padding: 0.5em;
		font-size: 1.4em;
		background-color: #c89696;
	}
}

.bothPanes {
	width: 90%;
	height: 49%;
	opacity: 1;
}

.toggled .hidden {
	width: 90%;
	opacity: 1;
}

.toggled {
	width: 90%;
	height: 90%
}

.hidden {
	width: 90%;
	height: 0;
	opacity: 1;
	overflow-y: hidden;
}

@media (min-aspect-ratio: 1) {
	.bothPanes {
		width: 50%;
		height: 70vh;
	}

	.toggled {
		height: 70vh;
	}

	.hidden {
		width: 0;
		height: 70vh;
		opacity: 0;

		.output {
			opacity: 0;
		}
	}
}

.paneToggler {
	display: block;
}

.paneToggler svg {
	display: block;
	margin: auto;
	font-size: 2rem;
	transform: rotate(90deg)
}

@media (min-aspect-ratio: 1) {
	.paneToggler svg {
		transform: none;
	}
}

.button {
	cursor: pointer;
	border: 2px solid global.$White;
	color: global.$White;
	background-color: global.$Black;
	border-radius: 12px;
	padding: 0.5em;
	white-space: nowrap;
	transition: color var(--fast-transition), background-color var(--fast-transition);
}

.button:hover {
	background-color: global.$White;
	color: global.$Black;
}

.updater {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 10rem;
	height: 3rem;
	font-size: 1.2em;

	p {
		margin: 0;
		padding: 0;
	}

	svg {
		display: block;
		margin: 0 0.5em 0 0.5em;
		rotate: 90deg;
	}
}

@media (min-aspect-ratio: 1) {
	.updater {
		svg {
			transform: none;
		}
	}
}

.dlContainer {
	backdrop-filter: brightness(0.15) blur(20px);
	position: absolute;
	height: 100svh;
	width: 100%;
	top: 0;
	border-radius: $borderRadius;
	animation-name: dlContainerFadeIn;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@keyframes dlContainerFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.closer {
	cursor: pointer;
	border: none;
	font-size: 1.4em;
	width: 2em;
	height: 2em;
	margin: 1em;
	border-radius: $borderRadius;
	color: global.$White;
	background-color: global.$Black;
	border: 2px solid global.$White;

	svg {
		display: block;
		rotate: 45deg;
		transform-origin: center;
		margin: auto;
	}
}

.dlControls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1em;

	label {
		display: flex;
		margin: 2em;
		gap: 0.5em;
	}
}

.dlListContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 50%;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 80%;
	width: 100%;
	max-width: 500px;
	padding: 0.2em;
	border-radius: $borderRadius;
	background-color: global.$Black;
	border: 2px solid global.$White;
	overflow-y: auto;
	gap: $borderRadius;
	scrollbar-width: thin;
}

.list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 1em 0.5em 1em;
	width: 100%;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.dlLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.8em;
	font-size: inherit;
	background-color: global.$slightlyLighter;
	border-radius: $borderRadius;
	gap: $borderRadius;

	svg {
		display: block;
	}
}

.dlRemover {
	background-color: firebrick;

	svg {
		display: block;
		rotate: 45deg;
		font-size: 1.4em;
	}
}
