@import 'tailwindcss';

@theme {
    --font-overpass: 'var(--font-overpass)', 'serif', 'ui-serif', 'system-ui';
    --font-poppins:
        'var(--font-poppins)', 'sans-serif', 'ui-sans-serif', 'system-ui';
    --font-lato: 'var(--font-lato)', 'sans-serif', 'ui-sans-serif', 'system-ui';
    --font-lato: 'var(--font-jbmono)', 'monospace', 'ui-monospace', 'system-ui';
}

@layer base {
    svg,
    img {
        display: block;
    }

    * {
        scrollbar-width: thin;
    }
}
