@import 'tailwindcss';

@theme {
    --font-ws: 'var(--font-ws)', 'sans-serif', 'ui-sans-serif', 'system-ui';
}

@layer base {
    svg,
    img {
        display: block;
    }

    * {
        scrollbar-width: thin;
    }
}
