$mute-overexpose: #FBD589;
$mute-glow: #F7B32B;
$loop-overexpose: #47D1FF;
$loop-glow: #0094C6;
$pad-overexpose: #ECACB9;
$pad-glow: #AF3E4D;
$cpanel-overexpose: #B0FE76;
$cpanel-glow: #81E979;
$gBackground: #0C1821;
