.header {
	animation-delay: 3s;
	animation-fill-mode: both;
	animation-name: headerfadein;
	animation-timing-function: ease-out;
	animation-duration: var(--slow-transition);
}

@keyframes headerfadein {
	0% {
		display: none;
		opacity: 0;
	}

	50% {
		display: block;
	}

	100% {
		opacity: 1;
	}
}
