@use '@styles/globalStyles.module.scss' as global;

.container {
	@include global.sectionContainer;
	background-color: global.$slightlyLighter;
}

.nav {
	position: relative;
	width: 100%;
	padding: 12svh 4svh;
}

.catSection {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5vh;
}

.catHeading {
	font-family: Lato, sans-serif;
	font-size: 2.4rem;
	text-align: center;
}

.list {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	width: fit-content;
	gap: 2rem;
	padding: 0;
	margin: 2rem;
}

@media (min-aspect-ratio: 1) {
	.list {
		grid-template-columns: 1fr 1fr;
	}
}
