.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pad {
	position: relative;
	width: 100%;
	display: block;
	background-color: white;
	color: black;
}

.grid {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.controls {
	display: block;
}
