.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.container input {
	cursor: pointer;
	appearance: none;
	width: 100%;
	margin: 1vh 0 1vh 0;
	border-radius: 5px;
	border: 2px solid rgba(20, 20, 20, 1);
	background-color: rgba(20, 20, 20, 1);
	transition: border var(--fast-transition);
}

.container input:hover {
	border: 2px solid var(--pad-overexpose)
}

.container input:focus {
	border: 2px solid var(--pad-overexpose)
}

.container input:active {
	border: 2px solid var(--pad-overexpose)
}

.container input::-moz-range-thumb {
	appearance: none;
	background: var(--pad-glow);
	border: none;
	transition: box-shadow var(--fast-transition);
}

.container input:hover::-moz-range-thumb {
	background: var(--pad-overexpose);
	box-shadow: 0px 0px 20px 5px var(--pad-glow);
}

.container input:focus::-moz-range-thumb {
	background: var(--pad-overexpose);
	box-shadow: 0px 0px 20px 5px var(--pad-glow);
}

.container input:active::-moz-range-thumb {
	background: var(--pad-overexpose);
	box-shadow: 0px 0px 20px 5px var(--pad-glow);
}

.container input::-webkit-range-thumb {
	appearance: none;
	background: var(--pad-glow);
	border: none;
	box-shadow: 0px 0px 20px 5px var(--pad-glow);
}

.container input:hover::-webkit-range-thumb {
	background: var(--pad-overexpose);
	box-shadow: 0px 0px 20px 5px var(--pad-glow);
}

.container input:focus::-webkit-range-thumb {
	background: var(--pad-overexpose);
	box-shadow: 0px 0px 20px 5px var(--pad-glow);
}

.container input:active::-webkit-range-thumb {
	background: var(--pad-overexpose);
	box-shadow: 0px 0px 20px 5px var(--pad-glow);
}

.pad {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 12vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-family: Silkscreen, sans-serif;
	font-size: 1.6rem;
	transition: background-color var(--fast-transition), color var(--fast-transition), border var(--fast-transition), box-shadow var(--fast-transition);
}

.pad p {
	text-align: center;
	border-radius: 50%;
	height: auto;
	transition: width var(--fast-transition), text-shadow var(--fast-transition), filter var(--fast-transition), background-color var(--fast-transition), box-shadow var(--fast-transition);
}

.padInactive {
	border: 10px solid rgba(20, 20, 20, 1);
	background-color: rgba(10, 10, 10, 1);
	color: var(--pad-overexpose);
}

.padInactive p {
	width: 20%;
	background-color: var(--pad-glow);
	box-shadow: 0px 0px 30px 20px var(--pad-glow);
	text-shadow: 0px 0px 5px var(--pad-glow);
	filter: drop-shadow(0px 0px 10px var(--pad-glow));
}

.padActive {
	border: 10px solid var(--pad-overexpose);
	box-shadow: 0px 0px 40px 10px var(--pad-glow);
	background-color: var(--pad-overexpose);
	color: var(--global-background);
}

.padActive p {
	width: 40%;
	background-color: var(--global-color);
	box-shadow: 0px 0px 30px 20px var(--global-color);
	text-shadow: 0px 0px 5px var(--global-color);
	filter: drop-shadow(0px 0px 10px var(--global-color));
}

.buttons {
	display: none;
}

@media (min-aspect-ratio: 9/15) {
	.buttons {
		width: 100%;
		margin: 1vh 0 1vh 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.buttons button {
		width: 48px;
		height: 35px;
		cursor: pointer;
	}
}

@media (min-aspect-ratio: 1) {
	.pad {
		height: 15vh;
	}
}
