html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: #D6E5E3;
	background-color: #0C1821;
	overflow-x: hidden;
}

:root {
	--fast-transition: 83ms;
	--medium-transition: 250ms;
	--slow-transition: 400ms;

	--transparent: rgba(0,0,0,0);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

@font-face {
	font-family: "Silkscreen";
	src: url('../public/fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: var(--global-color);
		background: var(--global-background);
	}
}

.grecaptcha-badge { visibility: hidden; }
