html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
	--global-background: #0C1821;
	--global-color: #D6E5E3;
	--fast-transition: 83ms;
	--medium-transition: 250ms;
	--slow-transition: 400ms;

	--transparent: rgba(0,0,0,0);

	--mute-overexpose: #FBD589;
	--mute-glow: #F7B32B;
	--loop-overexpose: #47D1FF;
	--loop-glow: #0094C6;
	--pad-overexpose: #ECACB9;
	--pad-glow: #AF3E4D;
	--cpanel-overexpose: #B0FE76;
	--cpanel-glow: #81E979;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Silkscreen";
	src: url('../public/fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: var(--global-color);
		background: var(--global-background);
	}
}
