.pond {
	position: relative;
	margin: 0;
	width: 50%;
	max-width: 1000px;
	height: 100%;
	max-height: 500px;
	background-color: rgba(150, 225, 255, 1);
	border-radius: 20px;
	transform-origin: top left;
}
