@use '../../../../styles/globalStyles.module.scss' as global;

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 80%;
	max-width: 1200px;
}

@media (min-aspect-ratio: 1) {
	.container {
		width: 70%;
	}
}

.instructions {
	font-family: Overpass, sans-serif;
	font-weight: lighter;
	font-size: 1.4em;
	text-align: center;
}

.preview {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	backdrop-filter: brightness(0.4) blur(10px);
}

.previewImg {
	position: relative;
	height: 80%;
	width: auto;
	border-radius: 5px;
	z-index: 2;
	animation-name: pImgFadeIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@keyframes pImgFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.ring {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 50%;
	gap: 1em;
}

.ringExposed {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: scroll;
	scrollbar-width: thin;
	height: 100%;
}

.button,
.buttonReturner {
	cursor: pointer;
	background-color: global.$Black;
	color: global.$White;
	padding: 0.8em;
	border-radius: 50%;
	border: 2px solid global.$White;
	transition: color var(--fast-transition), background-color var(--fast-transition);
	transition-timing-function: ease-in-out;
}

.button:hover,
.buttonReturner:hover {
	color: global.$Black;
	background-color: global.$White;
}

.button svg {
	display: block;
	margin: auto;
	font-size: 2em;
}

.smallThumb {
	cursor: pointer;
	height: 90%;
	width: auto;
	border-radius: 5px;
	border: 10px solid global.$slightlyDarker;
	margin: 0 1em 0 1em;
}

.preview .button {
	position: relative;
	z-index: 2;
	margin: 4em;
}

.buttonReturner {
	position: absolute;
	top: 4em;
	left: 4em;
	z-index: 2;

	svg {
		display: block;
		margin: auto;
		font-size: 2em;
		rotate: 45deg;
	}
}
