@use '../../../../styles/globalStyles.module.scss' as global;

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 80%;
	max-width: 1200px;
}

@media (min-aspect-ratio: 1) {
	.container {
		width: 70%;
	}
}

.instructions {
	font-family: Overpass, sans-serif;
	font-weight: lighter;
	font-size: 1.4em;
	text-align: center;
	margin: 1em;
}

.preview {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	backdrop-filter: brightness(0.01) blur(10px);
	z-index: 3;
}

.previewImg {
	position: absolute;
	width: 90%;
	left: 5%;
	height: auto;
	border-radius: 5px;
	z-index: 2;
	animation-name: pImgFadeIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@media (min-aspect-ratio: 1) {
	.previewImg {
		position: relative;
		z-index: 2;
		left: 0;
		height: 80%;
		width: auto;
	}
}

@keyframes pImgFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.ringContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	width: 100%;
}

@media (min-aspect-ratio: 1) {
	.ringContainer {
		width: 100%;
		height: 50%;
	}
}

.ringExposed {
	display: flex;
	flex-direction: column;
	align-items: center;
	scrollbar-width: thin;
	height: 100%;
	padding: 16px;
	margin: 0;
	overflow-y: auto;
	gap: 16px;
}

@media (min-aspect-ratio: 1) {
	.ringExposed {
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow-x: scroll;
		overflow-y: hidden;
		height: 100%;
		margin: 0 16px 0 16px;
	}
}

.smallThumb {
	cursor: pointer;
	width: 100%;
	height: auto;
	border-radius: 5px;
}

@media (min-aspect-ratio: 1) {
	.smallThumb {
		height: 90%;
		width: auto;
	}
}

.button,
.buttonReturner {
	cursor: pointer;
	background-color: global.$Black;
	color: global.$White;
	padding: 0.8em;
	border-radius: 50%;
	border: 2px solid global.$White;
	transition: color var(--fast-transition), background-color var(--fast-transition);
	transition-timing-function: ease-in-out;
}

.button {
	display: none;
}

@media (min-aspect-ratio: 1) {
	.button {
		display: block;
	}
}

.button:hover,
.buttonReturner:hover {
	color: global.$Black;
	background-color: global.$White;
}

.button svg {
	display: block;
	margin: auto;
	font-size: 2em;
}

.preview .button {
	display: block;
	position: relative;
	z-index: 3;
	margin: 8%;
	padding: 0.5em;
}

@media (min-aspect-ratio: 1) {
	.preview .button {
		position: relative;
		margin: 4em;
	}
}

.buttonReturner {
	position: absolute;
	top: 2em;
	left: 2em;
	z-index: 3;

	svg {
		display: block;
		margin: auto;
		font-size: 2em;
		rotate: 45deg;
	}
}

@media (min-aspect-ratio: 1) {
	.buttonReturner {
		top: 4em;
		left: 4em;
	}
}
